<p>add works!</p>
<div class="row">
    <div class="col-sm">
        Add Products
    </div>
</div>
<form [formGroup]='productForm'>
    <div class="jumbotron col-sm-12" style="margin:auto">
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName='name'>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Code</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName='code'>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Unit</label>
            <div class="col-sm-10">
                <select name="" id="" class="form-contorl" formControlName = 'unit'>
                    <option *ngFor = 'let unit of units | async' [value]="unit.name">{{unit.name}}</option>
                </select>
                <!-- <input type="password" class="form-control" formControlName='name'> -->
            </div>
        </div>

        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Categery</label>
            <div class="col-sm-10">
                <select value ="" class="form-contorl" formControlName = 'categery'>
                    <option *ngFor = 'let categery of categories | async' [value]="categery.code">{{categery.name}}</option>
                </select>          
              </div>
        </div>

        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Sales Rate</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName='salesRate'>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Purchase Rate</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName='purchaseRate'>
            </div>
        </div>

       

        <div class="form-group row">
            <!-- <label for="inputPassword" class="col-sm-2 col-form-label">Name</label> -->
            <div class="col-sm-10">
                <button class="btn btn-primary" type="submit" (click) = "save($event)" >Submit form </button>&nbsp;
                <button class="btn btn-primary" type="submit" (click) = "saveAndContinue($event)">Submit form</button>&nbsp;
                <button class="btn btn-primary" type="submit" routerLink = "/product">Cancel</button>

            </div>
        </div>
        

    </div>
</form>